body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-image: url(images.jpeg);
    box-shadow: 15px 15px 10px 0.5px;
    border-radius: 15px;
}

h1 {
    text-align: center;
    color: #ccc;
}

div {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 100px;
    color: #fff;
}

input[type="number"] {
    width: 200px;
}

select {
    width: 210px;

}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    
}
