body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: white;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 25px 25px 10px rgba(0, 0, 0, 0.1);
    background-image: url(notes.jpg);
    border-radius: 35px;
}

h1{
    color: white;
}

.new-note input[type="text"],
.new-note textarea {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.new-note button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.new-note button:hover {
    background-color: #0056b3;
}

.note {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
}

.note button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.note button:hover {
    background-color: #c82333;
}

.textarea{
    height: 170px;
    width: 100%;
    resize: none;
}

.buscador{
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 6px;
}

